################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs
/api/src/obj
/api/src/.vs/
/api/src/bin/Debug/net7.0
/api/TimeTracker.Application/obj
/api/TimeTracker.Domain/obj
/api/TimeTracker.Persistence/obj
/api/TimeTracker.Application/bin/Debug/net7.0
/api/TimeTracker.Domain/bin/Debug/net7.0
/api/TimeTracker.Persistence/bin/Debug/net7.0
*.db-wal
*.db-shm
*.db
