################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs
/api/src/obj
/api/src/.vs/
/api/src/bin/Debug/net7.0
/api/TimeTracker.Application/obj
/api/TimeTracker.Domain/obj
/api/TimeTracker.Persistence/obj
/api/TimeTracker.Application/bin/Debug/net7.0
/api/TimeTracker.Domain/bin/Debug/net7.0
/api/TimeTracker.Persistence/bin/Debug/net7.0
*.db-wal
*.db-shm
*.db
/api/TimeTracker.Api/bin/Debug/net7.0
/api/TimeTracker.Api/obj
/TimeTracker.Identity/.vs/TimeTracker.Identity
/TimeTracker.Identity/TimeTracker.Identity/bin/Debug/net7.0
/TimeTracker.Identity/TimeTracker.Identity/obj
/TimeTracker.Identity/.vs/ProjectEvaluation
/api/TimeTracker.Api/bin/Release/net7.0
/api/TimeTracker.Application/bin/Release/net7.0
/api/TimeTracker.Domain/bin/Release/net7.0
/api/TimeTracker.Persistence/bin/Release/net7.0
