api/src/.vs/TimeTrackerApi/DesignTimeBuild/.dtbcache.v2
api/src/.vs/TimeTrackerApi/FileContentIndex/5da6607b-6f2b-42c2-991b-b0ac38884e95.vsidx
api/src/.vs/TimeTrackerApi/FileContentIndex/43040c28-639d-42d5-ac12-f800c14dc5cb.vsidx
api/src/.vs/TimeTrackerApi/FileContentIndex/7211764a-2e12-469e-a037-282d239b2cbe.vsidx
api/src/.vs/TimeTrackerApi/v17/.futdcache.v2
api/.vs/ProjectEvaluation/timetrackerapi.metadata.v7.bin
api/.vs/ProjectEvaluation/timetrackerapi.projects.v7.bin
api/.vs/TimeTrackerApi/v17/.suo
api/src/obj/project.assets.json
api/src/obj/project.nuget.cache
api/src/obj/TimeTrackerApi.csproj.nuget.dgspec.json
api/src/obj/TimeTrackerApi.csproj.nuget.g.props
api/src/obj/TimeTrackerApi.csproj.nuget.g.targets
api/src/obj/Container/ContainerDevelopmentMode.cache
api/src/obj/Container/ContainerId.cache
api/src/obj/Container/ContainerName.cache
api/src/obj/Container/ContainerRunContext.cache
api/src/obj/Container/warmup.sem
api/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
api/src/obj/Debug/net7.0/TimeTrackerApi.AssemblyInfo.cs
api/src/obj/Debug/net7.0/TimeTrackerApi.AssemblyInfoInputs.cache
api/src/obj/Debug/net7.0/TimeTrackerApi.assets.cache
api/src/obj/Debug/net7.0/TimeTrackerApi.csproj.AssemblyReference.cache
api/src/obj/Debug/net7.0/TimeTrackerApi.GeneratedMSBuildEditorConfig.editorconfig
api/src/obj/Debug/net7.0/TimeTrackerApi.GlobalUsings.g.cs
